@model Blog.Areas.admin.ViewModels.CategoryIndex
@{
    ViewBag.Title = "Manager Tags";
}
<link href="~/Areas/admin/Scripts/tablesaw/tablesaw.css" rel="stylesheet" />
<script src="~/Areas/admin/Scripts/tablesaw/tablesaw.jquery.js"></script>
<script src="~/Areas/admin/Scripts/tablesaw/tablesaw-init.js"></script>

<div class="wrap">
    <h1>Tags</h1>
    <div class="btn-toolbar">
        <a href="@Url.Action("new")" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-plus"></i> Create Tag
        </a>
    </div>
    <br />
   
@using (Html.BeginForm("DeleteTags", "Tags", FormMethod.Post))
{
    @AntiForgery.GetHtml()
    <div class="nav nav-pills">
        <div class="row">
            <div class="col-md-8 col-xs-6">
                <div class="dropdown" role="presentation">
                    <button class="btn btn-default btn-sm" type="button" id="dd-menu" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <div role="presentation">
                            <a href="@Url.Action("New")" class="btn btn-link">
                                <span class="glyphicon glyphicon-new-window"></span> Add new
                            </a>
                        </div>
                        <div role="presentation">
                            <button class="btn btn-link" type="submit" value="btnDelAll" id="deleteActionRun" name="deleteActionRun" role="menuitem" tabindex="-1">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="nav-text text-right">
                    <p>Have all @Model.Category.Count @(Model.Category.Count > 1 ? "items" : "item")</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table data-tablesaw-sortable class="tablesaw table table-hover widefat fixed">
        <thead>
        <tr>
            <th scope="col"><input data-tablesaw-checkall type="checkbox"></th>
            <th>Name</th>
            <th class="column-slug">Slug</th>
            <th class="column-description">Description</th>
            <th class="column-posts">Count</th>
        </tr>
        </thead>
        @foreach (var tag in Model.Category)
        {
            <tr>
                <td><input name="DeleteTags" value="@tag.Id" id="checkbox-@tag.Id" type="checkbox" /></td>
                <td><a href="@Url.Action("edit", new {tag.Id})">@tag.Name</a></td>
                <td>@tag.Slug</td>
                <td>@tag.Description</td>
                <td>@tag.Count</td>
            </tr>
        }
        
    </table>
}
</div>