<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Luong Thanh Nhuan, Lương Thanh Nhuận" />    
    <link rel="icon" sizes="16x16" type="image/png" href="~/Content/img/favicon-16x16.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="~/Content/img/favicon-32x32.png" />
    <link rel="icon" sizes="48x48" type="image/png" href="~/Content/img/favicon-48x48.png" />
    <link rel="icon" sizes="128x128" type="image/png" href="~/Content/img/favicon-128x128.png" />
    @RenderSection("meta", false)
    <link rel="index" title="ping pong code, pingpongcode, phát triễn web, asp.net mvc, mvc" href="http://pingpongcode.com" />
    <meta name="google-site-verification" content="lIKdoxJQ98JZ3G-3EC8f-A2S0bzKfhvQmJ5-NPQUo6g" />            
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&amp;subset=latin-ext,vietnamese" rel="stylesheet">    
    @Styles.Render("~/Content/pingpong")
    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5188322581066797",
            enable_page_level_ads: true
        });
    </script>*@
</head>
<body>
    @Html.Partial("_Navigation")    
    <div class="container sp_sidebar">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                @RenderBody()
            </div>
            <div class="col-sm-12 col-md-4">
                <div id="sidebar">
                    @Html.Partial("_SideBar")
                </div>
            </div>
        </div>
    </div>
    <footer id="footer-copyright">
        <div class="container">
            <p>
                <a href="http://pingpongcode.com/" id="mycontent" title="PingPongCode" ref="dofollow">Ping Pong Code</a> @DateTime.Now.Year
            </p>
            <a class="to-top" href="#">Lên đầu trang <i class="fa fa-angle-double-up"></i></a>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")    
    @*desert, sunburst, sons-of-obsidian, doxy*@
    <script src="https://rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=sons-of-obsidian" defer></script>
    <script>
        function REinit() {
            $("pre").addClass("prettyprint");
        }
        $(document).ready(function () {
            REinit();
        });
        REinit();
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-28002206-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
