@using Blog.Infrastructure
@using Blog.ViewModels.VouxTheme
@model Blog.ViewModels.VouxTheme.PostVoux
@{ var currentURL = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host; }
<main class="post" id="single">
    <header class="post-header">
        <h1>
            @Model.Title
        </h1>
        <span class="date">@Model.Created.NgayVietBai()</span>
    </header>
    <article id="post-@Model.Id">        
        <div class="post-entry">            
            @Html.Raw(Model.Content)            
        </div>
    </article>
    @if (Model.Tags.Count > 0)
    {
        <footer class="entry-meta hidden-print">
            <div class="entry-tags gray-2-secondary">
                <strong class="tag-heading"><i class="fa fa-tag"></i>Tags:</strong>
                @BuilLink(Model.Tags, "tag")
            </div>
        </footer>
    }
    <div class="fb-like" data-href="@currentURL@Url.RouteUrl("article", new {Model.Slug})" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true" data-width="600px"></div>
    <div class="fb-comments" data-numposts="5" data-href="@currentURL@Url.RouteUrl("article", new {Model.Slug})" data-width="100%"></div>
</main>
@helper BuilLink(List<LabelVoux> list, string typeCat)
{    
    var i = 0;
    foreach (var item in list)
    {
        if (i != 0) {<text>,</text> }
        <a href="@Url.RouteUrl(typeCat, new { item.Slug})">@item.Name</a>
        i++;
    }
}
