@using Blog.Infrastructure
@using Blog.ViewModels.VouxTheme
<div class="widget">
    <h2><span>bài viết khác</span></h2>
    @if (ViewBag.RecentPosts != null)
    {
        <ul class="side-newsfeed">
            @foreach (PostsRecentVoux item in ViewBag.RecentPosts)
            {
                var post = item;
                <li>
                    <div class="side-item">
                        @if (!string.IsNullOrEmpty(item.PostImage))
                        {                                   
                            <div class="side-image">
                                <a href="@Url.RouteUrl("article", new {post.Slug})">
                                    <img src="~/Uploads/Thumb/@item.PostImage" alt="@post.Title" />
                                </a>
                            </div>
                        }                        
                        <div class="side-item-text">
                            <h4>
                                <a href="@Url.RouteUrl("article", new {post.Slug})">@post.Title</a>
                            </h4>
                            <span class="side-item-meta">@post.Created.NgayVietBai()</span>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
</div> 
