<div class="breadcrumb">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="@Url.Action("Index", "Products")" class="btn btn-secondary">Products</a>
        <a href="@Url.Action("AddProduct", "Products")" class="btn btn-secondary">Add Products</a>
        <a href="@Url.Action("Categories", "Products")" class="btn btn-secondary">Categories</a>
        <a href="@Url.Action("Tags", "Products")" class="btn btn-secondary">Tags</a>
        <a href="@Url.Action("Attributes", "Products")" class="btn btn-secondary">Attributes</a>
    </div>
</div>