@using Blog.Models
@model Blog.Areas.admin.ViewModels.CategoryIndex
@{
    ViewBag.Title = "Manager category product";
}
<div class="wrap">
    <h1>Categories Product</h1>
    <div class="btn-toolbar">
        <a href="@Url.Action("CategoryNew")" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-plus"></i> Create Category
        </a>
    </div>
    <br />
    <table class="table table-hover widefat table-responsive fixed">
        <thead>
            <tr>
                <th class="check-column">
                    <input type="checkbox" name="actionDelete" value="all" id="select-all" />
                </th>
                <th>Name</th>
                <th class="column-slug">Slug</th>
                <th class="column-description">Description</th>
                <th class="column-posts">Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var cat in Model.Category)
            {
                if (cat.Parent == 0)
                {
                @CategoriesSub(cat);
                @DisplaySubMenuTable((int)cat.Id, Model.Category, 1)
            }

        }
    </table>
</div>
@helper DisplaySubMenuTable(int id, IEnumerable<Term> categories, int level = 1)
{
string rowPerfix = string.Empty;

foreach (var cat in categories)
{
    if (cat.Parent != 0 && id == cat.Parent)
    {
        for (int i = 0; i < level; i++)
        {
            rowPerfix += "— ";
        }
        @CategoriesSub(cat, level, rowPerfix);
            level++;
            @DisplaySubMenuTable((int)cat.Id, categories, level)
        level = level - 1;
        rowPerfix = string.Empty;
    }

}
}
@helper CategoriesSub(Term cat, int level = 0, string rowPerfix = null)
{
    <tr data-level="@level">
        <td class="check-column"><input type="checkbox" name="actionDelete" value="@cat.Slug" /> </td>
        <td><a href="@Url.Action("CategoryEdit", new {cat.Id})">@rowPerfix@cat.Name</a></td>
        <td>@cat.Slug</td>
        <td>@cat.Description</td>
        <td>@cat.Count</td>
        <td>
            <div class="btn-group" style="min-width: 111px;">
                <a href="@Url.Action("CategoryEdit", new {cat.Id})" class="btn btn-xs btn-primary">
                    <i class="glyphicon glyphicon-edit"></i> Edit
                </a>
                <a href="@Url.Action("CategoryDelete", new { cat.Id })" class="btn btn-xs btn-danger"
                   data-post="Are you sure you want to delete '@cat.Name'">
                    <i class="glyphicon glyphicon-remove"></i> Delete
                </a>
            </div>
        </td>
    </tr>
}