@model Blog.Areas.admin.ViewModels.UsersIndex
@{
    ViewBag.Title = "Manager Users";
}
<div class="wrap">
    <h1>Users</h1>
    <div class="btn-toolbar">
        <a href="@Url.Action("new")" class="btn btn-primary btn-sm">
            <i class="glyphicon glyphicon-plus"></i> Create User
        </a>
    </div>
    <br/>
    <table class="table table-hover widefat table-responsive fixed">
        <thead>
            <tr>
                <th style="width: 3%">ID</th>
                <th style="width: 20%">UserName</th>
                <th style="width: 40%">Email</th>
                <th style="width: 10%">Roles</th>
                <th style="min-width: 220px">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", user.Roles.Select(role => role.Name))</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("edit", new {user.Id})" class="btn btn-xs btn-primary">
                                <i class="glyphicon glyphicon-edit"></i> Edit
                            </a>
                            <a href="@Url.Action("ResetPassword", new {user.Id})" class="btn btn-xs btn-default">
                                <i class="glyphicon glyphicon-lock"></i> Reset password
                            </a>
                            <a href="@Url.Action("Delete", new { user.Id })" class="btn btn-xs btn-danger"
                               data-post="Are you sure you want to delete '@user.UserName'">
                                <i class="glyphicon glyphicon-remove"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>