@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ping Pong Code</title>    
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Areas/admin/Contents/login.css" rel="stylesheet" />
    <script>
        $('.message a').click(function () {
            $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
        });
    </script>
</head>
<body>
    <div class="container">
        @RenderBody()        
        <footer>
            <p>&copy; @DateTime.Now.Year - pingpongcode.com</p>
        </footer>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/froms")
@RenderSection("scripts", required: false)
<script>
    //$('.dropdown').hover(function () {
    //    $('.dropdown-toggle', this).trigger('click');
    //});
</script>

