@using System.Globalization
@using System.Threading
@using Blog.Models
@using Blog.Module.Paging
@using Humanizer
@using Humanizer.Localisation
@model IPagedList<Post>
@{
    ViewBag.Title = "Manager posts";
    Thread.CurrentThread.CurrentUICulture = new CultureInfo("vi-VN"); //Set ngôn ngữ Việt

}

<link href="~/Areas/admin/Scripts/tablesaw/tablesaw.css" rel="stylesheet" />
<script src="~/Areas/admin/Scripts/tablesaw/tablesaw.jquery.js"></script>
<script src="~/Areas/admin/Scripts/tablesaw/tablesaw-init.js"></script>

<style>
    .navbar-text {
        margin-bottom: 10px !important;
    }

    .navbar {
        margin-bottom: 0 !important;
    }

    .breadcrumb {
        margin-bottom: 10px !important;
    }

    abbr[title], acronym[title] {
        text-decoration-line: none !important;
    }
</style>
<div class="wrap">
    <h1>Posts</h1>
    <div class="breadcrumb">
        <div class="nav nav-pills">
            <div class="row">
                <div class="col-md-8 col-xs-6">
                    <a class="" href="@Url.Action("Index")">All &nbsp;</a>|
                    <a class="btn btn-link" href="@Url.Action("Index", "Posts", new {status = "publish"})">Published</a>|
                    <a class="btn btn-link" href="@Url.Action("Index", "Posts", new {status = "draft"})">Drafts</a>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="nav-text nav-right">

                        @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
                        {
                            <div class="input-group">
                                <input type="text" name="search" value="@Request["search"]" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Search!</button>
                                </span>
                            </div><!-- /input-group -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("DeletePosts", "Posts", FormMethod.Post))
    {
        @AntiForgery.GetHtml()
        <div class="nav nav-pills">
            <div class="row">
                <div class="col-md-8 col-xs-6">
                    <div class="dropdown" role="presentation">
                        <button class="btn btn-default btn-sm" type="button" id="dd-menu" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <div role="presentation">
                                <a href="@Url.Action("New")" class="btn btn-link">
                                    <span class="glyphicon glyphicon-new-window"></span> Add new
                                </a>
                            </div>
                            <div role="presentation">
                                <button class="btn btn-link" type="submit" value="btnDelAll" id="deleteActionRun" name="deleteActionRun" role="menuitem" tabindex="-1">
                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <div class="nav-text text-right">
                        <p>Have all @Model.TotalItemCount @(Model.TotalItemCount > 1 ?  "items": "item")</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
            @Html.Partial("_FlashMessage")
            <div>
                <table data-tablesaw-sortable class="tablesaw table table-hover widefat fixed">
                    <thead>
                        <tr>
                            <th scope="col"><input data-tablesaw-checkall type="checkbox"></th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="persist" class="column-title">Title</th>
                            <th scope="col" data-tablesaw-priority="2" data-tablesaw-sortable-col class="column-author">Author</th>
                            <th class="column-categories">Categories</th>
                            <th class="column-tags">Tags</th>
                            <th class="column-comments">Comments</th>
                            <th scope="col" data-tablesaw-priority="3" data-tablesaw-sortable-col class="column-date">Date</th>
                        </tr>
                    </thead>
                    <tbody id="checkall-target">
                        @foreach (var item in Model)
                {
                            <tr>
                                <td><input name="DeletePosts" value="@item.Id" id="checkbox-@item.Id" type="checkbox" /></td>
                                <td class="row-title"><a href="@Url.Action("edit", new {item.Id})">@item.Title</a></td>
                                <td><a href="@Url.Action("Index", "Posts", new {user = item.User.Id})">@item.User.UserName</a></td>
                                <td>@BuilLink(item.Category.Where(t => t.Taxonomy == "cat").ToList(), "category")</td>
                                <td>@BuilLink(item.Category.Where(t => t.Taxonomy == "tag").ToList(), "tag")</td>
                                <td>@item.CommentCount</td>
                                <td><abbr title="@item.CreateAt.ToString("dd/MM/yy hh:mm")">@(TimeSpan.FromMilliseconds((DateTime.Now - item.CreateAt).TotalMilliseconds).Humanize(minUnit: TimeUnit.Second, maxUnit: TimeUnit.Year))</abbr></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pager">
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                    .DisplayTemplate("Bootstrap3Pagination")
                    .MaxNrOfPages(14)
                    .AlwaysAddFirstPageNumber()
                    .HidePreviousAndNextPage()
                    )
                </div>
            </div>
    }
</div>
@helper BuilLink(List<Term> list, string typeCat)
{
    var sb = string.Empty;
    var i = 0;
    foreach (var item in list)
    {
        if (i != 0) { sb += ", "; }

        sb += "<a href=\"?" + typeCat + "=" + item.Id + "\">" + item.Name + "</a>";
        i++;
    }
    @Html.Raw(sb)
}

